<a href="https://colab.research.google.com/github/Forrestjohnson2000/6162-Seabreeze/blob/main/Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np

In [57]:
buoy = pd.read_csv('Buoy.csv')
buoy

        #YY  MM    DD  hh  mm  WDIR  WSPD   GST    PRES  ATMP   WTMP
0      2020   1   1.0   0   8   257   5.3   7.1  1016.2  13.9   13.8
1      2020   1   1.0   1   8   255   5.9   8.4  1016.4  13.7   13.7
2      2020   1   1.0   2   8   254   7.4   9.2  1016.6  13.5   13.6
3      2020   1   1.0   3   8   257   7.8  10.1  1016.8  13.2   13.6
4      2020   1   1.0   4   8   260   7.8  10.1  1016.7  12.8   13.6
...     ...  ..   ...  ..  ..   ...   ...   ...     ...   ...    ...
75762  2010  12  31.0  18   0    60   4.0  99.0  1022.8   9.6  999.0
75763  2010  12  31.0  20   0    70   4.0  99.0  1022.2  10.1  999.0
75764  2010  12  31.0  21   0    80   3.0  99.0  1022.2  10.4  999.0
75765  2010  12  31.0  22   0    80   3.0  99.0  1022.4  11.1  999.0
75766  2010  12  31.0  23   0    30   2.0  99.0  1023.0  10.7  999.0

[75767 rows x 11 columns]

In [58]:
#Checking the datatypes of inported data, these seem to make sense
buoy.dtypes

#YY       int64
MM        int64
DD      float64
hh        int64
mm        int64
WDIR      int64
WSPD    float64
GST     float64
PRES    float64
ATMP    float64
WTMP    float64
dtype: object

In [59]:
buoy.describe()

                #YY            MM  ...          ATMP          WTMP
count  75767.000000  75767.000000  ...  75767.000000  75767.000000
mean    2015.606623      6.346906  ...     41.736301    554.183938
std        3.147607      3.420622  ...    144.280182    486.641218
min     2010.000000      1.000000  ...     -5.900000      5.500000
25%     2013.000000      3.000000  ...     14.500000     24.400000
50%     2016.000000      6.000000  ...     21.200000    999.000000
75%     2018.000000      9.000000  ...     26.900000    999.000000
max     2020.000000     12.000000  ...    999.000000    999.000000

[8 rows x 11 columns]

In [60]:
#replacing values with na as 99, 999, 9999 are missing data
buoy["WDIR"].replace({999.0:np.nan}, inplace=True)
buoy["GST"].replace({99.0:np.nan}, inplace=True)
buoy["PRES"].replace({9999.0:np.nan}, inplace=True)
buoy["ATMP"].replace({999.0:np.nan}, inplace=True)
buoy["WTMP"].replace({999.0:np.nan}, inplace=True)
buoy["WSPD"].replace({99.0:np.nan}, inplace=True)

In [61]:
#Checking our data to see current statistics per each variable that was skewed by the 99/999/9999 
buoy[["GST", "WDIR", "PRES", "ATMP", "WTMP", "WSPD"]].describe()

                GST          WDIR  ...          WTMP          WSPD
count  56064.000000  75296.000000  ...  34490.000000  75680.000000
mean       7.296079    170.553695  ...     21.836225      5.460706
std        3.496994     99.208078  ...      6.584634      2.642720
min        0.000000      0.000000  ...      5.500000      0.000000
25%        4.900000     74.000000  ...     15.400000      3.600000
50%        7.000000    190.000000  ...     23.200000      5.100000
75%        9.500000    240.000000  ...     28.300000      7.000000
max       40.700000    360.000000  ...     31.900000     30.300000

[8 rows x 6 columns]

In [62]:
#We can see from this that there is significant data loss in some categories with WDIR, GST, PRES, ATMP, WTMP all have
#missing values, especially GST, PRES, and WTMP so we will need to handle that lost data
print(buoy.isnull().sum())
print(buoy.info())

#YY         0
MM          0
DD          0
hh          0
mm          0
WDIR      471
WSPD       87
GST     19703
PRES     9854
ATMP     1679
WTMP    41277
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75767 entries, 0 to 75766
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   #YY     75767 non-null  int64
 1   MM      75767 non-null  int64
 2   DD      75767 non-null  float64
 3   hh      75767 non-null  int64
 4   mm      75767 non-null  int64
 5   WDIR    75296 non-null  float64
 6   WSPD    75680 non-null  float64
 7   GST     56064 non-null  float64
 8   PRES    65913 non-null  float64
 9   ATMP    74088 non-null  float64
 10  WTMP    34490 non-null  float64
dtypes: float64(7), int64(4)
memory usage: 6.4 MB
None

In [63]:
#Imputing the missing data
from sklearn.impute import SimpleImputer

In [64]:
#Imputing the mean into the missing data
buoy_mean = buoy.copy(deep=True)
mean_imputer = SimpleImputer(strategy="mean")
buoy_mean.iloc[:,:] = mean_imputer.fit_transform(buoy_mean)
buoy[["GST", "WDIR", "PRES", "ATMP", "WTMP", "WSPD"]].describe()

                GST          WDIR  ...          WTMP          WSPD
count  56064.000000  75296.000000  ...  34490.000000  75680.000000
mean       7.296079    170.553695  ...     21.836225      5.460706
std        3.496994     99.208078  ...      6.584634      2.642720
min        0.000000      0.000000  ...      5.500000      0.000000
25%        4.900000     74.000000  ...     15.400000      3.600000
50%        7.000000    190.000000  ...     23.200000      5.100000
75%        9.500000    240.000000  ...     28.300000      7.000000
max       40.700000    360.000000  ...     31.900000     30.300000

[8 rows x 6 columns]

In [65]:
#Inputing the median into the missing data
buoy_median = buoy.copy(deep=True)
median_imputer = SimpleImputer(strategy="median")
buoy_median.iloc[:,:] = median_imputer.fit_transform(buoy_median)
buoy[["GST", "WDIR", "PRES", "ATMP", "WTMP", "WSPD"]].describe()

                GST          WDIR  ...          WTMP          WSPD
count  56064.000000  75296.000000  ...  34490.000000  75680.000000
mean       7.296079    170.553695  ...     21.836225      5.460706
std        3.496994     99.208078  ...      6.584634      2.642720
min        0.000000      0.000000  ...      5.500000      0.000000
25%        4.900000     74.000000  ...     15.400000      3.600000
50%        7.000000    190.000000  ...     23.200000      5.100000
75%        9.500000    240.000000  ...     28.300000      7.000000
max       40.700000    360.000000  ...     31.900000     30.300000

[8 rows x 6 columns]

### Weather Station Data

In [37]:
import re

In [11]:
wilstation_data_selected = pd.read_csv("pm200p1p1_197501-202112updated.txt", index_col = False, sep = "\s", 
                              engine = 'python',
                              header = 0,
                              #low_memory = False, 
                              usecols = ["YEAR", "MO", "DY", "HR", "MN", "Hs","Tp","Dp"],
                              skipinitialspace = True,
                              skiprows = [1]) #parse_dates = [[0,1,2,3,4]])

In [7]:
wilstation_data_selected.head(10)

   YEAR  MO  DY  HR  MN    Hs     Tp     Dp
0  2013   2   6  22   0  0.41   4.55  208.0
1  2013   2   6  22  30  0.40   4.76  199.0
2  2013   2   6  23   0  0.40   5.00  184.0
3  2013   2   6  23  30  0.41  11.11  140.0
4  2013   2   7   0   0  0.41  11.11  144.0
5  2013   2   7   0  30  0.41  11.76  139.0
6  2013   2   7   1   0  0.43  11.11  136.0
7  2013   2   7   1  30  0.41  10.53  137.0
8  2013   2   7   2   0  0.44  11.76  122.0
9  2013   2   7   2  30  0.45  11.11  141.0

In [8]:
wilstation_data_selected.describe()

                YEAR             MO  ...             Tp             Dp
count  143835.000000  143835.000000  ...  143469.000000  143045.000000
mean     2017.058748       6.502979  ...       7.077190     154.798665
std         2.525683       3.470800  ...       2.629369      51.906689
min      2013.000000       1.000000  ...       1.920000      10.000000
25%      2015.000000       3.000000  ...       5.000000     127.000000
50%      2017.000000       7.000000  ...       6.670000     151.000000
75%      2019.000000      10.000000  ...       8.330000     186.000000
max      2021.000000      12.000000  ...      20.000000     360.000000

[8 rows x 8 columns]

In [12]:
wilstation_data_selected.isnull().sum()

YEAR      0
MO        0
DY        0
HR        0
MN        0
Hs      366
Tp      366
Dp      790
dtype: int64

In [21]:
kilstation_data_selected = pd.read_csv("pm150p1p1_197501-202112updated.txt", index_col = False, sep = "\s", 
                              header = 0, engine = 'python', #low_memory = False, 
                              usecols = ["YEAR", "MO","DY","HR","MN","Hs", "Tp", "Dp"],
                              skipinitialspace = True,
                              skiprows = [1])

In [22]:
kilstation_data_selected.head()

   YEAR  MO  DY  HR  MN    Hs     Tp     Dp
0  2008   5   7  15  22  0.57  10.53  106.0
1  2008   5   7  15  52  0.54  10.53  101.0
2  2008   5   7  16  22  0.54   9.88  108.0
3  2008   5   7  16  52  0.56  10.53   96.0
4  2008   5   7  17  22  0.56   6.67  132.0

In [25]:
kilstation_data_selected.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223770 entries, 0 to 223769
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   YEAR    223770 non-null  int64
 1   MO      223770 non-null  int64
 2   DY      223770 non-null  int64
 3   HR      223770 non-null  int64
 4   MN      223770 non-null  int64
 5   Hs      223577 non-null  float64
 6   Tp      223577 non-null  float64
 7   Dp      223238 non-null  float64
dtypes: float64(3), int64(5)
memory usage: 13.7 MB

In [26]:
kilstation_data_selected.isnull().sum()

YEAR      0
MO        0
DY        0
HR        0
MN        0
Hs      193
Tp      193
Dp      532
dtype: int64

In [ ]:
kilstation_data.describe()

                YEAR             MO             DY  ...  Cspd  Cdir    P
count  223770.000000  223770.000000  223770.000000  ...   0.0   0.0  0.0
mean     2014.634924       6.569460      15.776235  ...   NaN   NaN  NaN
std         3.981524       3.350859       8.787252  ...   NaN   NaN  NaN
min      2008.000000       1.000000       1.000000  ...   NaN   NaN  NaN
25%      2011.000000       4.000000       8.000000  ...   NaN   NaN  NaN
50%      2015.000000       7.000000      16.000000  ...   NaN   NaN  NaN
75%      2018.000000       9.000000      23.000000  ...   NaN   NaN  NaN
max      2021.000000      12.000000      31.000000  ...   NaN   NaN  NaN

[8 rows x 18 columns]

In [27]:
#Imputing the missing data
from sklearn.impute import SimpleImputer

In [34]:
#Imputing the mean into the missing data
station_mean = wilstation_data_selected.copy(deep=True)
mean_imputer = SimpleImputer(strategy="mean")
wilstation_data_selected.iloc[:,:] = mean_imputer.fit_transform(station_mean)
wilstation_data_selected[["Hs", "Tp", "Dp"]].describe()

                  Hs             Tp             Dp
count  143835.000000  143835.000000  143835.000000
mean        1.004312       7.077190     154.798665
std         0.442600       2.626021      51.763945
min         0.240000       1.920000      10.000000
25%         0.690000       5.000000     127.000000
50%         0.910000       6.670000     151.000000
75%         1.220000       8.330000     185.000000
max         5.590000      20.000000     360.000000

In [35]:
wilstation_data_selected.isnull().sum()

YEAR    0
MO      0
DY      0
HR      0
MN      0
Hs      0
Tp      0
Dp      0
dtype: int64

In [36]:
#Imputing the mean into the missing data
station_mean = kilstation_data_selected.copy(deep=True)
mean_imputer = SimpleImputer(strategy="mean")
kilstation_data_selected.iloc[:,:] = mean_imputer.fit_transform(station_mean)
kilstation_data_selected[["Hs", "Tp", "Dp"]].describe()

                  Hs             Tp             Dp
count  144468.000000  144468.000000  144468.000000
mean        0.931621       7.613079     129.808746
std         0.394103       2.648586      38.889573
min         0.230000       1.850000      11.000000
25%         0.660000       5.560000     105.000000
50%         0.840000       7.140000     126.000000
75%         1.110000       9.090000     153.000000
max         5.100000      22.220000     359.000000

In [37]:
kilstation_data_selected.isnull().sum()

YEAR    0
MO      0
DY      0
HR      0
MN      0
Hs      0
Tp      0
Dp      0
dtype: int64

In [30]:
kilstation_data_selected = kilstation_data_selected[kilstation_data_selected["YEAR"] >= 2013]

In [38]:
kilstation_data_selected.to_csv("station150_updated.csv")
wilstation_data_selected.to_csv("station200_updated.csv")

In [39]:
station150_updated = pd.read_csv("station150_updated.csv")
station200_updated = pd.read_csv("station200_updated.csv")

In [53]:
station_data = station150_updated.merge(station200_updated, how = 'inner', on = ["YEAR", "MO","DY","HR"])

print(station_data.head())

   Unnamed: 0_x    YEAR   MO   DY    HR  ...  Unnamed: 0_y  MN_y  Hs_y  Tp_y   Dp_y
0         81014  2013.0  2.0  6.0  22.0  ...             0   0.0  0.41  4.55  208.0
1         81014  2013.0  2.0  6.0  22.0  ...             1  30.0  0.40  4.76  199.0
2         81015  2013.0  2.0  6.0  22.0  ...             0   0.0  0.41  4.55  208.0
3         81015  2013.0  2.0  6.0  22.0  ...             1  30.0  0.40  4.76  199.0
4         81016  2013.0  2.0  6.0  23.0  ...             2   0.0  0.40  5.00  184.0

[5 rows x 14 columns]

In [54]:
station_data = station_data.drop(labels = ["Unnamed: 0_x","Unnamed: 0_y", "MN_x", "MN_y"], axis = 1)
station_data.head()

     YEAR   MO   DY    HR  Hs_x   Tp_x   Dp_x  Hs_y  Tp_y   Dp_y
0  2013.0  2.0  6.0  22.0  0.46  12.50  104.0  0.41  4.55  208.0
1  2013.0  2.0  6.0  22.0  0.46  12.50  104.0  0.40  4.76  199.0
2  2013.0  2.0  6.0  22.0  0.46  11.76  116.0  0.41  4.55  208.0
3  2013.0  2.0  6.0  22.0  0.46  11.76  116.0  0.40  4.76  199.0
4  2013.0  2.0  6.0  23.0  0.44  11.76  120.0  0.40  5.00  184.0

In [76]:
merged_data = station_data.merge(buoy, how = "inner", left_on = ["YEAR", "MO","DY","HR"], 
                                 right_on = ["#YY","MM", "DD","hh"], left_index = True)

merged_data.head()

         YEAR   MO   DY    HR  Hs_x   Tp_x  ...   WDIR  WSPD  GST  PRES  ATMP  WTMP
54521  2013.0  2.0  6.0  22.0  0.46  12.50  ...  150.0   3.0  NaN   NaN  16.0   NaN
54521  2013.0  2.0  6.0  22.0  0.46  12.50  ...  150.0   3.0  NaN   NaN  16.0   NaN
54521  2013.0  2.0  6.0  22.0  0.46  11.76  ...  150.0   3.0  NaN   NaN  16.0   NaN
54521  2013.0  2.0  6.0  22.0  0.46  11.76  ...  150.0   3.0  NaN   NaN  16.0   NaN
54522  2013.0  2.0  6.0  23.0  0.44  11.76  ...  170.0   2.0  NaN   NaN  14.6   NaN

[5 rows x 21 columns]

In [77]:
merged_data = merged_data.drop(labels = ["#YY","MM", "DD","hh", "mm"], axis = 1)

#merged_data.reset_index()
merged_data.head()

         YEAR   MO   DY    HR  Hs_x   Tp_x  ...   WDIR  WSPD  GST  PRES  ATMP  WTMP
54521  2013.0  2.0  6.0  22.0  0.46  12.50  ...  150.0   3.0  NaN   NaN  16.0   NaN
54521  2013.0  2.0  6.0  22.0  0.46  12.50  ...  150.0   3.0  NaN   NaN  16.0   NaN
54521  2013.0  2.0  6.0  22.0  0.46  11.76  ...  150.0   3.0  NaN   NaN  16.0   NaN
54521  2013.0  2.0  6.0  22.0  0.46  11.76  ...  150.0   3.0  NaN   NaN  16.0   NaN
54522  2013.0  2.0  6.0  23.0  0.44  11.76  ...  170.0   2.0  NaN   NaN  14.6   NaN

[5 rows x 16 columns]

In [78]:
merged_data.to_csv("merged_data.csv")